


.inter-primary{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Header */
.header{
    background-image: url('../Hero-bg.png');
}
/* Shared style */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
.bg{
    background-image: url('../Hero-bg.png');
}
/* Nav Style */
nav{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
}
nav{
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
nav li{
    list-style: none;
    font-size: 16px;
}
.dark-2{
    color: #252432;
}
.dark-1{
    color: #FFFFFF;
}
.dark-3{
    color: #252432;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.secondary-im{
    border-radius: 30px;
}
/* Banner style */
.banner-heading{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.banner{
    margin: 309px;
    height: 750px;
    width: 905px;
    text-align: center;
}
.main-banner{
    display: flex;
     border-radius: 10px;
    padding: 130px 150px;
    justify-content: space-around;
}
.main-banners{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    
}
.center{
    margin: 200px;
    height: 237px;
    width: 905px;
    text-align: center;
    font-size: 30px;
}
.user-section{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center; 
}
.user-title{
    font-size: 38;
    font-weight: bold;
}
.secondary-background{
    background-color: #e5e7ff;
    border-radius: 20px;
}
.views{
    font-size: 80px;
    font-weight: bold;
    margin: 0px 140px 0px 159px;
}
.sub-title{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 150;
    color: #474747;
}
.sub-title-description{
    font-size: 20;
    font-weight: regular;
}
.user{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-m{

}
/* From Style */
.from-2{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
    justify-content: space-between;
}
.footer-column{
    width: 50%;
}
section input[type="Email"], section input[type="Name"],
section textarea{
    height: 30px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%s;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    justify-content: space-around;
}
.secondary-colour{
    background-color: #f5f8ff;
}
.section-title{
    font-size: 85px;
    font-weight: bold;
}
/* Footer */
.footer-hed{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
}
.logo-sub-title{
    text-align: center;
    margin-top: 8px;
}
.link-1{
    display: flex;
    justify-content: space-around;
}